body {
  overflow-x: hidden;
}
img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: 0 0%;
}

/* BARRE DE NAVIGATION */

.modifnav {
  position: fixed;
  z-index: 1;
}
.logo {
  height: 50px;
  z-index: 2;
}

a {
  color: white !important;
}
.alpacohecolor {
  color: #bd8439;
}
.bg-opacity {
  background-color: #ffffff;
  opacity: 0.9;
}
.topbar {
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
}
li a {
  color: #bd8439 !important;
}

.dropdown-item:hover {
  background-color: #d6d6d3 !important;
}
.dropdown-item:active {
  background-color: #000000 !important;
}


.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
}

.bgnav {
  width: fit-content;
  
}

.bgnav li {
  padding-left: 8px;
}
/* CAROUSSEL */

.rightsize {
  height: 60px;
  top: 50vh;
  width: 60px;
  right: 10%;
}
.leftsize {
  height: 60px;
  top: 50vh;
  width: 60px;
  left: 10%;
}
.pagebanner {
  height: 600px;
}
.marge {
  margin-top: 42px;
}
.carousel-float {
  float: none !important;
}

.montagneimg, .foretimg, .merimg {
  height: 100vh;
  width: 50%;
  object-position: 50% 50%;
}


.textalpaimg img {
  height: 100px;
  width: auto;
  position: absolute;
  top: 20vh;
  left: 5vw;
  color: white;
}

.textfinimg img {
  height: 70px;
  width: auto;
  position: absolute;
  top: 20vh;
  right: 5vw;
  color: white;
}

.textcourtimg img {
  height: 80px;
  width: auto;
  position: absolute;
  top: 20vh;
  left: 5vw;
  color: white;
}

@media (max-width: 525px) {
  .textalpaimg img {
    height: 80px;
    width: auto;
    left:50%; 
    transform:translate(-50%, -50%); 
  }
  
  .textfinimg img {
    height: 56px;
    width: auto;
    top: 20vh;
    left:50%; 
    transform:translate(-50%, -50%);  }
  
  .textcourtimg img {
    height: 64px;
    width: auto;
    top: 20vh;
    left:50%; 
    transform:translate(-50%, -50%);
  }
}

/* LOADER */

.loader {
  position: fixed;
  opacity: 0;
  z-index: -4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load;
  animation-duration: 3s;
  background-color: #ffffff;
}

.loader img {
  width: 500px;
  height: auto;
}

@media (max-width: 1025px) {
  .loader img {
    width: 200px;
    height: auto;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    z-index: 10;
  }
  
  100% {
    z-index: 10;
    opacity: 0;
  }
}

/* PARGRAPHE ACCEUIL */
.paragraphe {
  font-size: 19px;
}

.paragraphegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
}

@media (max-width:768px) {
  .paragraphegrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .paragraphegrid:last-child {
    grid-column-start: 1.5fr;
  }
}

.paragrapheimg {
 height: 100px;
 width: auto;
  
}

.paragrapheimg-courthera {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
  margin-top: 20px;
   
 }

 /* BOUTTON PARAGRAPHE */

.btn {
  opacity: 0.8;
  transition: 0.3s;
  margin-bottom: 16px;
}

.btn-alpacohe {
  background-color:#ffffff ;
  color: #bd8439;
  box-shadow: 0px 0px 6px #c5c5c5;
}

.btn-alpacohe:hover {
  background-color:#bd8439 ;
  color: #ffffff;
 
}

.btn-finest {
  background-color: #ffffff;
  color: #335b4c;
  box-shadow: 0px 0px 6px #c5c5c5;
}

.btn-finest:hover {
  background-color: #335b4c;
  color: #ffffff;
  box-shadow: 0px 0px 6px #c5c5c5;
}

 .btn-courthera {
   background-color: #ffffff;
   color: #a2ddec;
   box-shadow: 0px 0px 6px #c5c5c5;
 }
 .btn-courthera:hover {
  background-color: #a2ddec;
  color: #ffffff;
  box-shadow: 0px 0px 6px #c5c5c5;
}


 /* FOOTER */

 footer {
   width: 100%;
   padding-top: 250px;
 }

